push.bat
TestResult.xml
build
build35
artifacts
obj
bin
deploy
deploy/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.DotSettings.user
*.ReSharper.user
*.suo
*.cache
~$*
*.userprefs
*.pidb
test-results
src/packages
*.dotCover
src/*/repositories.config
.bottle-alias
results
bottles.cmd
fubu.cmd
src/FubuMVC.Website/fubu-content
src/FakeDocs/fubu-content
src/FubuDocs.Docs/fubu-content
src/FubuDocs.Tests/fubu-content
src/FubuDocs/pak-*.zip
pkg
pak-*.zip
src/FubuDocsHarness/fubu-content
logs
src/FubuMVC.Plugin.Docs/snippets
src/Imported.Docs/snippets
src/Sample.Docs/snippets
pages
Gemfile.lock
fubudocs/*.gem
src/FubuDocs/snippets
src/FubuDocs.Docs/snippets
src/Host/fubu-content
fubudocs-export
