<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>FubuDocs</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="2.1.0.584" Mode="Float" />
    <Dependency Name="fubu" Version="1.0.0.391" Mode="Float" />
    <Dependency Name="FubuCore" Version="1.3.0.278" Mode="Float" />
    <Dependency Name="FubuCsProjFile" Version="1.2.0.93" Mode="Float" />
    <Dependency Name="FubuLocalization" Version="1.0.0.178" Mode="Float" />
    <Dependency Name="FubuMVC.Ajax" Version="0.1.0.496" Mode="Float" />
    <Dependency Name="FubuMVC.CodeSnippets" Version="1.0.0.404" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="1.3.0.1710" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Version="0.9.9.574" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.639" Mode="Float" />
    <Dependency Name="FubuMVC.Core.View" Version="1.1.0.594" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics" Version="0.9.8.379" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Version="0.5.0.356" Mode="Float" />
    <Dependency Name="FubuMVC.Katana" Version="1.3.0.1710" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Version="0.9.5.447" Mode="Float" />
    <Dependency Name="FubuMVC.Navigation" Version="0.9.1.222" Mode="Float" />
    <Dependency Name="FubuMVC.OwinHost" Version="1.3.0.1710" Mode="Float" />
    <Dependency Name="FubuMVC.SlickGrid" Version="0.5.0.662" Mode="Float" />
    <Dependency Name="FubuMVC.Spark" Version="1.1.0.594" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.3.0.1710" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Version="0.0.0.657" Mode="Float" />
    <Dependency Name="FubuMVC.Validation" Version="0.9.12.896" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Version="1.3.0.278" Mode="Float" />
    <Dependency Name="FubuValidation" Version="0.9.12.896" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.1.0.183" Mode="Float" />
    <Dependency Name="Microsoft.Bcl" Version="1.1.3" Mode="Fixed" />
    <Dependency Name="Microsoft.Bcl.Build" Version="1.0.9-beta" Mode="Fixed" />
    <Dependency Name="Microsoft.Net.Http" Version="2.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin" Version="1.1.0-beta2" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Host.HttpListener" Version="0.18-alpha" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Hosting" Version="0.18-alpha" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="6.0.1.0" Mode="Float" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0" Mode="Fixed" />
    <Dependency Name="Owin.Extensions" Version="0.6.4" Mode="Fixed" />
    <Dependency Name="Owin.Types" Version="0.8.5.0" Mode="Float" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Selenium.WebDriver" Version="2.39.0.0" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.0" Mode="Fixed" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>