fubuworld.core.css requires toastr.css, toastr-responsive.css, twitterbootstrap
toastr-responsive.css requires toastr.css
prettify.css is sons-of-obsidian.css

toastr.js requires jquery
request-diagnostics.js requires jquery, toastr.js

topics.js requires jquery, twitter/bootstrap-affix.js
fubudocs-tools.js requires jquery, toastr.js
fubuworld.js requires jquery

build-status.js requires jquery